* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.section-1 {
    background-color: #1f2937;
    padding: 50px;
}

.section-1-wrapper {
   width: 80%;
   margin: auto;
}

body {
    font-family: 'Quicksand', sans-serif;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* hero container*/

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-left {
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left h1 {
    font-size: 42px;
    color: #F9FAF8;
    font-weight: 900;
}

.signup-btn {
    max-width: max-content;
    font-size: 18px;
    background-color: #3882F6;
    padding: 10px;
    border-radius: 10px;
    border: solid #3882F6;
}

.hero-right {
    display: flex;
    flex: 1;
    border: 3px solid white;
    border-radius: 20px;
    height: 300px;
    width: 600px;
    align-items: center;
    justify-content: center;
}


.hero-right img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  /* section-2 */


.section-2 {
    background-color: #F9FAF8;
    padding: 50px;
}

.section-2-wrapper {
   width: 80%;
   margin: auto;
}

.section-2 h2 {
    display: flex;
    justify-content: center;
}








