* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Section 1 */

.section-1, .footer {
    background-color: #1f2937;
    padding: 50px;
}

.section-1-wrapper {
   width: 80%;
   margin: auto;
   display: flex;
   flex-direction: column;
}

body {
    font-family: 'Quicksand', sans-serif;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-left {
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left h1 {
    font-size: 42px;
    color: #F9FAF8;
    font-weight: 900;
}

.signup-btn {
    max-width: max-content;
    font-size: 18px;
    background-color: #3882F6;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid #3882F6;
}

.hero-right {
    display: flex;
    flex: 1;
    border: 3px solid white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    border-radius: 20px;
    width: 100%;
    height: auto;
  }





  /* section-2 */


.section-2 {
    background-color: #F9FAF8;
    padding: 50px;
}

.section-2-wrapper {
   width: 70%;
   margin: auto;
   display: flex;
   flex-direction: column;
}

.section-2 h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.cards img {
    border-radius: 20px;
    border: 3px solid #3882F6;
    width: 140px;
    height: 140px;
}

.card p {
    max-width: 140px;
    text-align: center;
}





 /* section-3 */


 .section-3 {
    background-color: #E5E7EB;
    padding: 50px;
}

.section-3-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    text-align: right;
    font-weight: 900;
}





 /* section-4 */


 .section-4 {
    background-color: #F9FAF8;
    padding: 50px;
}

.section-4-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #3882F6;
    background-color: #3882F6;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    font-size: 18px;
    padding: 30px;
    color: #E5E7EB;
}

.bold {
    font-weight: 800;
    font-size: 24px;
}

.signup-btn2 {
    max-width: max-content;
    font-size: 18px;
    background-color: #3882F6;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid #E5E7EB;
    color: #E5E7EB;
}




 /* footer */


.footer-wrapper {
   width: 70%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #E5E7EB;
}









